footer{
    width: 80%;
    height: 10vh;
    margin: 3rem auto 0 auto;
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    text-transform: capitalize;
    font-size: 2rem;
}

@media screen and (max-width:550px) {
    footer{
        width: 100%;
    }
}